* {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.container-fluid {
  display: grid;
  grid-template-columns: auto auto;
}

.contents-box {
  box-sizing: border-box;
  margin-left: 16px;
}

.image-box {
  box-sizing: border-box;
  text-align: center;
}

.body {
  padding: 1em;
  margin: 2em;
  color: white;
  background: linear-gradient(to left, hsl(0, 100%, 97%), hsl(0, 100%, 50%));
}

li {
  padding: 4px;
}
  
img {
  border: 5px solid black;
  width:10em;
  height:auto;
}

a {
  color: #66ffff;
}

foot {
  text-align: center;
}
