.container-fluid {
  padding: 1em;
  margin: 2em;
  color: white;
  background: linear-gradient(to left, hsl(0, 100%, 97%), hsl(0, 100%, 50%));
}

.contents-box {
  margin-left: 16px;
}

a {
  color: #66ffff;
}

foot {
  text-align: center;
}
